[Unit]
Description=webapp
After=network.target
Wants=cloud-init.target


[Service]
WorkingDirectory=/home/webappuser/webapp
ExecStart=/usr/bin/node /home/webappuser/webapp/app.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
User=webappuser


[Install]
WantedBy=multi-user.target